
*{
  margin: 0;
  padding: 0;
}
.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.nav-bar{
  display: flex;
  justify-content: space-around;
  background-color: #1A0B2E;
  height: 92px;
  align-items: center;
  border-bottom: 2px solid #351165;
}

.nav-bar h1{
  color: #FFFFFF;
  font-weight:bold;
  font-size: 3rem;
}

.nav-bar ul{
  color: #FFFFFF;
  display: flex;
  list-style: none;
  gap: 32px;
  border-bottom: 2px #1A0B2E;
}

.btn-first{
  background: linear-gradient(to top, #f7E93F, #FB09B4, #9100F8);
  color: #FFFFFF;
  font-weight: 600;
  padding: 12.5px 12px 12.5px 16px;
  border: none;
  border-radius: 20px;
}

.gradient{
  /*Gemini theke help niyechi eituku korar jonno but copy korinai*/
 background: linear-gradient(to top, #f7E93F, #FB09B4, #9100F8);
 background-clip: text;
 color: transparent;
}


.banner{
  background-image: url("assets/hero-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 760px;
  text-align: center;
}

.badge{
  background-color: greenyellow;
  border-radius: 20px;
  text-align: center;
  width: 80px;
  height: 40px;
  margin-left: 300px;
  border: none;
  color:#1A0B2E;
  font-size: 20px;
  font-weight: 600;
}


.back-image{
 background-image: url("assets/hero-circle.png");
 background-repeat: no-repeat;
 background-position: center;
 height: 400px;
 padding-top: 105px;
}

.mic-image{
 background-image: url("assets/microphone.png");
 background-repeat: no-repeat;
 background-position: center;
 width: 200px;
 height: 180px;
 margin: 0 auto;
}

.section-title h6{
  font-size: 4rem;
  color:#FFFFFF;
  font-weight: 600;
}

.section-title p{
  color:#FFFFFF;
  font-weight: 200;
  padding-top: 8px;
  padding-bottom: 24px;
}

.btn-container{
  display: flex;
  justify-content: center;
  gap: 10px;
}

.btn-1{
  background: linear-gradient(to top, #f7E93F, #FB09B4, #9100F8);
  color: #FFFFFF;
  padding: 12.5px 20px 12.5px 20px;
  border: none;
  border-radius: 20px;
  font-weight: 600;
  font-size: 18px;
}

.btn-2{
  background-color: transparent;
  color: #00FF88;
  border: 2px solid #00FF88;
  border-radius: 20px;
  padding: 12.5px 20px 12.5px 20px;
  font-weight: 600;
  font-size: 18px;
}

.main-section-dscr{
  text-align: center;
  padding: 0px auto;
}

.main-section-dscr h1{
  font-size: 3rem;
  font-weight: bold;
  padding: 50px 0 16px 0;
  color: #FFFFFF;
}
.main-section-dscr p{
  color:#FFFFFF;
  font-weight: 300;
}

.card-container{
  padding-top: 160px;
  padding-bottom: 120px;
  display: flex;
  justify-content: space-around;
  text-align: center;
}



.card-container h1{
  color:#00FF88;
  font-size: 3rem;
  font-weight: 800;
  padding-bottom: 16px;
}
.card-container p{
  color:#FFFFFF;
  font-weight: 300;
}

.grid{
  width: 1200px;
  margin: 0 auto;
  color:#FFFFFF;
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr) 50px 50px;
}

.grided{
  background-color: #250a49;
  border-radius: 20px;
  padding: 40px;
  align-content: center;
}

.grided img,h3,i{
  margin-bottom: 16px;
}

.grided h3{
  font-size: 24px;
  font-weight: bold;
}

.grided p{
  font-size: 16px;
  font-weight: 300px;
}

.row-2{
  grid-column: span 1;
  grid-row: span 2;
}

.column-2{
  grid-column: span 2;
  grid-row: span 1;
}

.row-column-2{
  grid-column: span 2;
  grid-row: span 2;
}

