
*{
  margin: 0;
  padding: 0;
}
.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.nav-bar{
  display: flex;
  justify-content: space-around;
  background-color: #412567;
  height: 92px;
  align-items: center;
}

.nav-bar h1{
  color: #FFFFFF;
  font-weight:bold;
}

.nav-bar ul{
  color: #FFFFFF;
  display: flex;
  list-style: none;
  gap: 32px;
}

.btn-first{
  background: linear-gradient(to top, #f7E93F, #FB09B4, #9100F8);
  color: #FFFFFF;
  padding: 12.5px 12px 12.5px 16px;
  border: none;
  border-radius: 20px;
}

.gradient{
  /*Gemini theke help niyechi eituku korar jonno but copy korinai*/
 background: linear-gradient(to top, #f7E93F, #FB09B4, #9100F8);
 background-clip: text;
 color: transparent;
}

