
*{
  margin: 0;
  padding: 0;
}
.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.nav-bar{
  display: flex;
  justify-content: space-around;
  background-color: #1A0B2E;
  height: 92px;
  align-items: center;
  border-bottom: 2px solid #351165;
}

.nav-bar h1{
  color: #FFFFFF;
  font-weight:bold;
  font-size: 3rem;
}

.nav-bar ul{
  color: #FFFFFF;
  display: flex;
  list-style: none;
  gap: 32px;
  border-bottom: 2px #1A0B2E;
  font-weight: 200;
}

.btn-first{
  background: linear-gradient(to top, #f7E93F, #FB09B4, #9100F8);
  color: #FFFFFF;
  font-weight: 600;
  padding: 12.5px 12px 0 16px;
  border: none;
  border-radius: 20px;
}

.gradient{
  /*Gemini theke help niyechi eituku korar jonno but copy korinai*/
 background: linear-gradient(to top, #f7E93F, #FB09B4, #9100F8);
 background-clip: text;
 color: transparent;
}

.nav-bar img{
  display: none;
}


.banner{
  background-image: url("assets/hero-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 100%;
  height: 760px;
  text-align: center;
}

.badge{
  background-color: greenyellow;
  border-radius: 20px;
  text-align: center;
  width: 80px;
  height: 40px;
  margin-left: 300px;
  border: none;
  color:#1A0B2E;
  font-size: 20px;
  font-weight: 600;
}


.back-image{
 background-image: url("assets/hero-circle.png");
 background-repeat: no-repeat;
 background-position: center;
 height: 400px;
 padding-top: 105px;
}

.mic-image{
 background-image: url("assets/microphone.png");
 background-repeat: no-repeat;
 background-position: center;
 width: 200px;
 height: 180px;
 margin: 0 auto;
}

.section-title h6{
  font-size: 4rem;
  color:#FFFFFF;
  font-weight: 600;
}

.section-title p{
  color:#FFFFFF;
  font-weight: 200;
  padding-top: 8px;
  padding-bottom: 24px;
}

.btn-container{
  display: flex;
  justify-content: center;
  gap: 10px;
}

.btn-1{
  background: linear-gradient(to top, #f7E93F, #FB09B4, #9100F8);
  color: #FFFFFF;
  padding: 12.5px 20px 0px 20px;
  border: none;
  border-radius: 20px;
  font-weight: 600;
  font-size: 18px;
}

.btn-2{
  background-color: transparent;
  color: #00FF88;
  border: 2px solid #00FF88;
  border-radius: 20px;
  padding: 12.5px 20px 0px 20px;
  font-weight: 600;
  font-size: 18px;
}

.rock{
  color: #FFFFFF;
  font-size: 3rem; 
  font-weight: bold; 
  width: 1200px;
  margin: 0 auto;
  text-align: center;
  padding-top:120px;
  padding-bottom: 40px;
}

.main-section-dscr{
  text-align: center;
  padding: 0px auto;
}

.main-section-dscr h1{
  font-size: 3rem;
  font-weight: bold;
  padding: 50px 0 16px 0;
  color: #FFFFFF;
}
.main-section-dscr p{
  color:#FFFFFF;
  font-weight: 200;
}

.card-container{
  padding-top: 160px;
  padding-bottom: 120px;
  display: flex;
  justify-content: space-around;
  text-align: center;
}



.card-container h1{
  color:#00FF88;
  font-size: 3rem;
  font-weight: 800;
  padding-bottom: 16px;
}
.card-container p{
  color:#FFFFFF;
  font-weight: 200;
}

.grid{
  width: 1200px;
  margin: 0 auto;
  color:#FFFFFF;
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr) 50px 50px;
}

.grided{
  background-color: #250a49;
  border-radius: 20px;
  padding: 40px;
  align-content: center;
}

.grided img,h3,i{
  margin-bottom: 16px;
}

.grided h3{
  font-size: 24px;
  font-weight: bold;
}

.grided p{
  font-size: 16px;
  font-weight: 200;
}

.row-2{
  grid-column: span 1;
  grid-row: span 2;
}

.column-2{
  grid-column: span 2;
  grid-row: span 1;
}

.row-column-2{
  grid-column: span 2;
  grid-row: span 2;
}

.rock-2{
color:#FFFFFF;
font-size: 3rem;
font-weight: bold;
padding-top: 100px;
padding-bottom: 40px;
text-align: center;
}

.featured-card-contaner{
  display: flex;
  width: 1200px;
  justify-content: center;
  margin: 0 auto;
  gap: 30px;
}

.featured-card{
  background-color: #250a49;
  color:#FFFFFF;
  width: 400px;
  height: 440px;
  border-radius: 20px;
}

.featured-card iframe{
  border-radius: 20px;
}

.featured-card h3{
  font-size: 24px;
  font-weight: bold;
  padding: 24px 24px 0 24px;
}

.featured-card p{
  font-size: 1rem;
  font-weight:200;
  padding: 0 24px 0 24px;
}

.duration{
  background-color: #250a49;
  color:#00FF88;
  font-size: 18px;
  font-weight: 600;
  border: none;
  border-radius: 15px;
  padding: 24px 24px 0px 24px;
}

.host{
 background-color: #1A0B2E;
 padding-bottom: 120px;
}
.container{
  background-color: #250a49;
  width: 1200px;
  margin: 0 auto;
  display: flex;
  align-content: center;
  gap: 24px;
  padding: 40px;
  border-radius: 20px;
}

.social{
  display: flex;
  gap: 8px;
}

.icon{
  background-color: #36264e;
  width: 40px;
  height: 40px;
  border: 2px solid #533C72;
  border-radius: 50%;
  padding: 10px;
  text-align: center;
  align-content: center;
  }

  .icon img{
    width: 20px;
    height: 20px;
  }


  .footer{
    background-image: url("assets/footer-bg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    height: 412px;
  }
  
  .footer h1{
    font-size: 5rem;
    font-weight: bolder;
    color:#FFFFFF;
    padding-top: 102px;
  }
  
  .footer ul{
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 40px;
    color: #FFFFFF;
    padding: 15px 0;
    font-weight: 200;
  }
  
  .footer p{
    font-size: 14px;
    font-weight: 200;
    color:#FFFFFF;
  }

  @media screen and (max-width:576px){
    .nav-bar{
  
      display: flex;
  justify-content: space-between;
  background-color: #1A0B2E;
  height: 60px;
  padding: 16px 20px;
  border-bottom: 2px solid #351165;
    }

    .nav-bar ul,.btn-first{
      display: none;
    }

    .nav-bar img{
      display: block;
    }

    .banner{
      background-image: url("assets/hero-bg.png");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      text-align: center;
    }

    .section-title,.main-section-dscr,.btn-container{
      width: 400px;
      text-align: center;
      margin: 0 auto;
    }

    br{
      display:none;
    }

    .card-container{
      flex-wrap: wrap;
      padding: 50px 0 50px 0;
    }

    .card{
      width: 50%;
      padding-top: 20px;
    }

    .grid{
      grid-template-columns: repeat(1, 1fr);
      grid-template-rows: repeat(5, 1fr);
      height: 1450px;
      width: 450px;
     
    }

    .brock{
      padding: 0px;
      height: 1450px;
      align-content: center;

    }

    .rock{
      width: 450px;
      padding-top: 40px;
      font-size: 40px;
      font-weight: bold;
    }

    .rock-2{
      font-size: 40px;
      font-weight: bold;
      padding-top: 200px;
      padding-bottom: 40px;
      text-align: center;
      width: 450px;
      margin: 0 auto;
      }

    .featured-card-contaner{
      flex-direction: column;
      width: 440px;
    }
    .featured-card{
      width: 400px;
      margin: 0 auto;
    }

    .host{
      padding-bottom: 40px;
     }

    .container{
      width: 350px;
      flex-direction: column;
      align-content: center;
      text-align: center;
    }

    .social{
     justify-content: center;
    }
    .footer{
      height: 260px;
    }

    .footer h1{
      font-size: 4rem;
      font-weight: bolder;
      color:#FFFFFF;
      padding-top: 10px;
    }

    .footer ul{
      flex-wrap: wrap;
    }

    .stone{
    width: 29%;
    }
  }